.friends-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 200px);
    width: 95%;
    overflow: auto;
    padding: 20px;
    text-align: center;
  }
  
  .friends-list h1 {
    margin-bottom: 20px;
    color: #404040; /* dark grey color */
    font-family: Arial, sans-serif; /* Arial font */
    margin-top: 0; /* Add this line to remove the default margin */
  }
  

.friend-item {
    border: 1px solid #404040; /* border color to dark grey */
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; /* white background for friend item */
}

.friend-item p {
    font-weight: 600; /* bold text */
    color: #404040; /* dark grey color */
}

.friend-item button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF; /* You can change the color to whatever you want */
    color: #FFFFFF; /* This will make the text inside the button white */
    font-size: 16px;
    cursor: pointer; /* This will show a hand cursor when hovering over the button */
    transition: background-color 0.3s ease; /* This will animate the color change */
}

.friend-item button:hover {
    background-color: #d32f2f; /* darker shade of red when hover */
    cursor: pointer; /* pointer cursor when hover */
}

.friend-item:hover {
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2); /* darker shadow when hover */
}

.back {
    margin-bottom: 20px;
    cursor: pointer;
    flex-grow: 1;
    color: #3f51b5; /* color for back text */
}
