.friends-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.friends-list h1 {
    margin-bottom: 20px;
}

.friends-list p:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.friend-item {
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friend-item:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
